
body{
    /* padding: 3%; */
    /* max-width:1820px ; */
}
.navbar-nav .dropdown-menu{
    background-color:lightblue;
}
.imgnav{
    /* border: solid 1px black;
    border-radius: 50%; */
}
#home{
    /* margin: auto; */
    margin: auto;
    max-width: 1520px;

    /* margin: 0px 3%; */
}
.navtop {
    background-color:#b9e2f4    ;
    position: fixed;
    margin-bottom: 10px;
    box-shadow: 2px 2px 20px 5px purple; 
}
.navtop:hover{
    transition: 1s;
    box-shadow: 2px 5px 20px 10px purple;
}

.headingsbtw{
    text-align: center;
    margin-top:100px;
    margin-bottom: -5px;
    /* background-color: #7ac9eb ; */
    padding: 20px;
}

.footercomp{
   position: flex;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}
.section{
    margin: 150px auto 80px;
    /* width: 100%; */
    max-width: 1520px;
    min-height: 30rem;
    padding: 10px;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: lavenderblush;
    box-shadow: 2px 2px 20px 2px purple;

}
.section:hover{
    transition: 0.5s;
    padding: 25px;
    box-shadow: 2px 5px 20px 10px purple;
}

