
body{
    padding: 3%;
    /* max-width:1500px ; */
}
.navbar-nav .dropdown-menu{
    background-color:lightblue;
}
#home{
    /* margin: auto; */
    margin: auto;
    max-width: 1600px;

    /* margin: 0px 3%; */
}
.navtop {
    background-color:#b9e2f4    ;
    position: sticky;
    margin-bottom: 10px;
    box-shadow: 2px 2px 20px 5px purple; 
}
.navtop:hover{
    transition: 1s;
    box-shadow: 2px 5px 20px 10px purple;
}

.headingsbtw{
    text-align: center;
    margin-top:100px;
    margin-bottom: -5px;
    /* background-color: #7ac9eb ; */
    padding: 20px;
}

.footercomp{
    padding: 50px ;
    display: flex;
    justify-content: space-around;
    margin: 100px -3% -4% -3.5%; 
}